@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo/Archivo-VariableFont.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont.ttf') format('truetype');
}

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body > div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #573323;
}

body > div > div, h3, form {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tito-coming-soon {
  background: url('./assets/images/Tito_By_Chef_Yems_Logo.png') no-repeat center;
  background-size: contain;
  height: 147.8px;
  width: 314px;
  margin: 0;
  padding: 0;
}